@{
    ViewData["Title"] = "Página de Proyectos";
}

<div class="container">
    <h1>Mis Proyectos</h1>
    
    <div class="project">
        <h2>Centro de pronóstico de coronavirus</h2>
        <img alt="Instructor Alfredo" src="~/img/corona-virus.png">
        <p>Mapa mundial de la propagación prevista de casos confirmados y muertes de COVID-19 en más de 180 países mediante aprendizaje automático.</p>
    </div>
    <hr>
    <div class="project">
        <h2>¿Quién es ese Pokémon?</h2>
        <img alt="Instructor Alfredo" src="~/img/pokemon.png">
        <p>Construí un "¿Quién es ese Pokémon?" juego.
            Construido con JavaScript, Jquery, CSS, HTML</p>
    </div>
    <hr>
    <div class="project">
        <h2>Análisis del sistema de entrenamiento de escalada</h2>
        <img alt="Instructor Alfredo" src="~/img/analisis.png">
        <p>Analicé datos del sistema de entrenamiento de escalada en roca Moon Board e identifiqué los problemas más fáciles de Moon Board en cada nivel de dificultad usando Python.</p>
    </div>
</div>

